{% include "counselorEditor/search.html"%}

<form action="{% url 'counselorEditor:submit' %}" method="post">
{% csrf_token %}
<br>
{% for course in course_list %}
    Course {{ forloop.counter }}:
    <input type ="text" name = "course{{ forloop.counter }}" value = "{{course.course_id}}" onchange="displayCourseName({{ forloop.counter }}, this.value)">
    <div id="name{{ forloop.counter }}" style="display:inline-block">{{course.course_name}}</div>
    <br>
{% endfor %}
<input type="hidden" name="username" value="{{student}}">
<input type="hidden" name="message" value="Changes Saved">
<button type = 'submit' accesskey='s' ><u>S</u>ubmit Course Request</button>
</form>

<script>
    
    courseDict = {}
    
    {% for course in courseDict %}
        courseDict["{{ course.course_id }}"] = "{{course.course_name}}";
    {% endfor %}
    
    function displayCourseName(numCourse, value){
        if (courseDict[value]){
            document.getElementById("name" + numCourse).innerHTML = courseDict[value];
        }else{
            document.getElementById("name" + numCourse).innerHTML = "Error: Invalid Course ID";
        }
    }
    
</script>


<br>
{% include "projectIndex/expandable_course_list.html" %}