<style>
    body {
        background-image: linear-gradient(yellow,yellow,lightgrey,lightblue,lightblue,lightblue,lightblue,lightblue,lightblue,lightblue,lightblue,lightblue,lightblue,lightblue,lightblue,green,#784800,#784800,#392400);
        /*
        Grey-themed background
        background-image: linear-gradient(grey,white)
        
        Colorful background
        background-image: linear-gradient(yellow,yellow,lightgrey,lightblue,lightblue,lightblue,lightblue,lightblue,lightblue,lightblue,lightblue,lightblue,lightblue,lightblue,lightblue,green,#784800,#784800,#392400);
        */
    }
</style>
<h1>Request Editor</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<!-- <a href="{% url 'projectIndex:index' %}" >Back to projectIndex</a> -->
<a href="{% url 'projectIndex:counselor' %}" >Back to Index</a>

<form action="{% url 'counselorEditor:edit' %}" method="post">
{% csrf_token %}
Username (eg. 2021jbrown):<br>
<input type = "text" name = "username"><br>
<br>
<button type = 'submit' accesskey="f"><u>F</u>ind Student</button>
</form>