{% extends "projectIndex/background.html" %}
{% block sun %}
<h1>
    Input Sections
    <br>
</h1>
{% endblock %}
{% block sky %}
<body>
    <a href="{% url 'projectIndex:counselor' %}" >Back to Index</a>
    <br><br>
{#Note to Young: all menu items should be in alphabetical order, except room numbers which should be numerical (e.g. 83 goes before 101. Make sure this still has, e.g., 83B before 101A)#}
{# <form action="{% url 'counselorEditor:input_sections' %}" method="post"> </form>#}
<form action="{% url 'counselorEditor:input_sections' %}" method="post">
{% csrf_token %}
    {# Section #: <input type = "text" name = "section"><br><br> #}
    Course #: <select name = "course">
        
        {% for course in course_list %}
            <option value = "{{course.course_id}}">{{course.course_id}} {{course.course_name}}</option>
        {% endfor %}
        
        {% comment %}
        <option>121100 Journalism 3</option>
        <option>3190T4 Research Stat 1</option>
        <option>4220T1 Geosystems</option>
        <option>4310T1 Biology 1</option>
        <option>552000 Spanish 2</option>
        <option>9826T8 Aut/Rob-Systems</option>
        {% endcomment %}
    </select><br><br>
    
    <div id = 'teachers'>
        <div>
        Teacher:<input list = "teacher" name = "teacher"><datalist id = "teacher">
            {% for teacher in teacher_list %}
                <option value = "{{teacher.teacher_id}}">{{teacher.teacher_id}} - {{teacher.teacher_last_name}}, {{teacher.teacher_first_name}}</option>
            {% endfor %}
            
        </datalist>
        <button onclick = "this.parentNode.style.display = 'none';" type = "button">Remove Teacher</button>
        </div>
    </div>
    <br><button onclick = "addTeacher()" type = "button">Add Teacher</button>
    
    
    
            {% comment %}
    Teacher: <select multiple name = "teacher">
        {% for teacher in teacher_list %}
            <option value = "{{teacher.teacher_id}}">{{teacher.teacher_id}} - {{teacher.teacher_last_name}}, {{teacher.teacher_first_name}}</option>
        {% endfor %}
        
    {% endcomment %}
        
        {% comment %}
        <option>dteacher - Teacher, Dummy</option>
        <option>akbailey - Bailey, Allison K.</option>
        <option>anbonitatibu - Bonitatibus, Ann N.</option>
        <option>awforeman - Foreman, Adam W.</option>
        <option>mbkochman - Kochman, Mary B.</option>
        <option>mhmiller - Miller, Michael H.</option>
        {% endcomment %}
    {# </select> #}
    
    <br><br>
    Room: <select name = "room">
        
        {% for room in room_list %}
            <option value = "{{room.rmNum}}">{{room.rmNum}}</option>
        {% endfor %}
        
        {% comment %}
        <option>83</option>
        <option>101</option>
        <option>104</option>
        <option>207</option>
        <option>221B</option>
        <option>247</option>
        {% endcomment %}
    </select><br><br>
    Max students: <input type="number" min="0" value="30" name = "numStudent"><br><br>
    Allowed periods:<br>
    <button onclick = "ALL()" type = "button">All</button><button onclick = "NONE()" type = "button">None</button><button onclick = "BLUE()" type = "button">Blue day</button><button onclick = "RED()" type = "button">Red day</button><br>
    {% for n in "x"|rjust:7 %}
    <input type="checkbox" name = "period" id = "P{{ forloop.counter }}" value = "{{ forloop.counter }}">  {{ forloop.counter }}<br>
    {% endfor %}
    <br>

    <button type = "submit">Submit</button>
</form>
<script>
    function confirm(){
        alert("submission successful");
    }
    function ALL() {
        document.getElementById("P1").checked = true;
        document.getElementById("P2").checked = true;
        document.getElementById("P3").checked = true;
        document.getElementById("P4").checked = true;
        document.getElementById("P5").checked = true;
        document.getElementById("P6").checked = true;
        document.getElementById("P7").checked = true;
    }
    function NONE() {
        document.getElementById("P1").checked = false;
        document.getElementById("P2").checked = false;
        document.getElementById("P3").checked = false;
        document.getElementById("P4").checked = false;
        document.getElementById("P5").checked = false;
        document.getElementById("P6").checked = false;
        document.getElementById("P7").checked = false;
    }
    function RED() {
        document.getElementById("P1").checked = false;
        document.getElementById("P2").checked = false;
        document.getElementById("P3").checked = false;
        document.getElementById("P4").checked = false;
        document.getElementById("P5").checked = true;
        document.getElementById("P6").checked = true;
        document.getElementById("P7").checked = true;
    }
    function BLUE() {
        document.getElementById("P1").checked = true;
        document.getElementById("P2").checked = true;
        document.getElementById("P3").checked = true;
        document.getElementById("P4").checked = true;
        document.getElementById("P5").checked = false;
        document.getElementById("P6").checked = false;
        document.getElementById("P7").checked = false;
    }
    function addTeacher(){
        var tchr = document.createElement('div');
        tchr.innerHTML = "Teacher:<input list = \"teacher\" name = \"teacher\"><datalist id = \"teacher\"> {% for teacher in teacher_list %}  <option value = \"{{teacher.teacher_id}}\">{{teacher.teacher_id}} - {{teacher.teacher_last_name}}, {{teacher.teacher_first_name}}</option>{% endfor %}</datalist> <button onclick = \"this.parentNode.style.display = 'none';\" type = \"button\">Remove Teacher</button>";
        document.getElementById('teachers').appendChild(tchr);
    }
    
</script>

</body>
{% endblock %}