<!-- Takes in category_list as input/context -->
<style>
    th {
        text-align: left;
    }
    .expand {
        background-color: lightblue;
        width: 25px;
        border:none;
    }
</style>

{% for category in category_list %}
    <script>
        function toggle{{category|cut:" "|cut:":"}}() {
            var x = document.getElementById("{{category|cut:" "|cut:":"}}");
            if (x.style.display == "none"){
                x.style.display = "block";
                document.getElementById("button{{category|cut:" "|cut:":"}}").innerHTML = '-';
            } else {
                x.style.display = "none";
                document.getElementById("button{{category|cut:" "|cut:":"}}").innerHTML = '+';
            }
        }
    </script>
    <button class = 'expand' id = "button{{category|cut:" "|cut:":"}}" onclick="toggle{{category|cut:" "|cut:":"}}()">+</button>{{category}}
    <div id = "{{category|cut:" "|cut:":"}}" style = "display:none">
        <style>
        th,td {
            text-align: left;
        }
        th {
            padding: 8px;
        }
        td{
            padding-right: 8px;
            padding-left: 8px;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        table,th,td {
            border: 1px solid black;
        }
    </style>
    <table style = "width:100%">
        <tr>
            <th>Course Name</th>
            <th>Course ID</th>
            <th>Credits</th>
            <th>Description</th>
        </tr>
        {% for course in category.course_set.all%}
            <tr>
                <td>{{course.course_name}}</td>
                <td>{{course.course_id}}</td>
                <td nowrap="nowrap" >{{course.course_credits}} / weighted +{{course.course_weight}}</td>
                <td>{{course.course_description}}</td>
            </tr>
        {%endfor%}
    </table>
    </div>
    <br>
{% endfor %}